@tailwind base;

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/GothamThin.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@tailwind components;

@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}

button:focus {
  outline: none;
}
img,
video {
  object-fit: contain;
}

select {
  @apply block appearance-none w-full bg-white leading-tight;
}

select:hover {
  @apply border-gray-500;
}

select:focus {
  @apply outline-none;
}

label {
  @apply block font-medium;
}

input[type="text"],
input[type="date"],
input[type="password"] {
  @apply rounded py-2 px-3 text-gray-700 leading-tight;
}

input:focus {
  @apply outline-none;
}

/* table */
th {
  @apply text-white bg-primary py-3 px-2 font-medium text-left;
}

td {
  @apply text-text-primary py-3 px-2;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #868686;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #868686;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #868686;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  font-family: "Gotham", sans-serif !important;
}

textarea:focus,
input:focus {
  outline: none;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    min-width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    min-width: 100%;
  }
}
